<?xml version="1.0"?>

<model>
  <name>station</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Jason_Phillips</name>
  </author>

  <description>
    Large Low Poly Habitat Dome 3D model from Jason_Phillips in Sketchfab. CC BY 4.0
  </description>
</model>
